---
import { storyblokEditable } from '@storyblok/astro';
import { twJoin } from 'tailwind-merge';
import SwiperNavButton from '@/components/SwiperNavButton.astro';
import CarouselTile from '@/components/CarouselTile.astro';
import SwiperProgressBar from '@/components/SwiperProgressBar.astro';

const { blok } = Astro.props;
const {
  tagline,
  title,
  subtitle,
  background_color = 'bg-white',
  carousel_items,
} = blok;

let textColor = 'text-black';
let taglineColor = 'text-primary';
let buttonBackgroundColor = 'bg-primary hover:bg-black text-white';
let barColor = 'black';

if (background_color === 'bg-primary' || background_color === 'bg-black') {
  textColor = 'text-white';
  taglineColor = 'text-white';
  barColor = 'white';
  buttonBackgroundColor = `bg-white hover:text-white ${background_color === 'bg-primary' ? 'text-primary hover:bg-black' : 'text-black hover:bg-primary '}`;
}

const swiperId = blok._uid;
---

<section
  class={twJoin('carousel-section space', background_color)}
  {...storyblokEditable(blok)}
>
  <div class="mx-container">
    <small class={twJoin(taglineColor, 'uppercase text-sm font-black')}>
      {tagline}
    </small>
    <h3 class={twJoin(textColor, 'mb-2 font-display')}>{title}</h3>
    <p class={twJoin(textColor, 'text-base md:max-w-3/5')}>{subtitle}</p>
    <div class="relative mt-4">
      <div id={swiperId} data-swiper class="swiper !overflow-visible">
        <div class="swiper-wrapper">
          {
            carousel_items?.map((blok: any) => (
              <div class="swiper-slide overflow-hidden cursor-pointer">
                <CarouselTile blok={blok} />
              </div>
            ))
          }
        </div>

        <div class="flex items-end gap-6 mt-4 lg:mt-8">
          <SwiperProgressBar
            id={`carousel-pagination-${swiperId}`}
            barColor={barColor}
          />
          <div class="flex items-center gap-2">
            <SwiperNavButton
              id={`carousel-prev-${swiperId}`}
              ariaLabel="Previous slide"
              className={buttonBackgroundColor}
            />
            <SwiperNavButton
              id={`carousel-next-${swiperId}`}
              ariaLabel="Next slide"
              className={buttonBackgroundColor}
              direction="right"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';

  document.addEventListener('DOMContentLoaded', () => {
    const swiperContainers = document.querySelectorAll(
      '[data-swiper]'
    ) as NodeListOf<HTMLElement>;

    swiperContainers.forEach(swiper => {
      const swiperId = swiper.id;

      new Swiper(swiper, {
        modules: [Pagination, Navigation],
        spaceBetween: 12,
        slidesPerView: 1.1,
        breakpoints: {
          480: {
            slidesPerView: 1.5,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 16,
          },
        },
        navigation: {
          nextEl: `#carousel-next-${swiperId}`,
          prevEl: `#carousel-prev-${swiperId}`,
        },
        pagination: {
          el: `#carousel-pagination-${swiperId}`,
          type: 'progressbar',
        },
      });
    });
  });
</script>
