---
import Link from '@/components/Link.astro';
import { hasImage, hasLink } from '@/utils/helper';
import { storyblokEditable } from '@storyblok/astro';
import { twJoin } from 'tailwind-merge';

const { blok } = Astro.props;
const {
  tagline,
  heading,
  description,
  link,
  background_color = 'bg-primary',
  background_image,
  full_width,
} = blok;

let textColor = 'text-black';
let taglineColor = 'text-primary';
let buttonClass = 'primary';

if (
  hasImage(background_image) ||
  background_color === 'bg-primary' ||
  background_color === 'bg-black'
) {
  textColor = 'text-white';
  taglineColor = 'text-white';
  buttonClass = 'light';
}
---

{
  full_width ? (
    <section
      class={twJoin('cta-section space relative', background_color)}
      {...storyblokEditable(blok)}
    >
      {hasImage(background_image) && (
        <>
          <div class="absolute inset-0 bg-black/50 z-2" />
          <div class="absolute inset-0 z-1">
            <img
              src={background_image.filename}
              alt={background_image.alt}
              class="size-full object-cover"
            />
          </div>
        </>
      )}
      <div class="mx-container flex relative z-3">
        <div class="w-full lg:w-1/2">
          {tagline && (
            <small class={twJoin(taglineColor, 'text-sm font-black')}>
              {tagline}
            </small>
          )}
          <h3 class={twJoin(textColor, 'font-display my-2')}>{heading}</h3>
        </div>
        <div class="w-full lg:w-1/2">
          <p class={twJoin(textColor, 'mb-4')}>{description}</p>
          {hasLink(link) && (
            <Link link={link} className={twJoin('button', buttonClass)} />
          )}
        </div>
      </div>
    </section>
  ) : (
    <section class="cta-section space bg-white" {...storyblokEditable(blok)}>
      <div class="mx-container">
        <div
          class={twJoin(
            'w-full rounded-xl px-8 py-10 flex flex-col lg:min-h-[240px] lg:flex-row gap-4 lg:gap-12 relative overflow-hidden',
            background_color
          )}
        >
          {hasImage(background_image) && (
            <>
              <div class="absolute inset-0 bg-black/50 z-2" />
              <div class="absolute inset-0 z-1">
                <img
                  src={background_image.filename}
                  alt={background_image.alt}
                  class="size-full object-cover"
                />
              </div>
            </>
          )}
          <div class="w-full lg:w-1/2 z-2">
            {tagline && (
              <small class={twJoin(taglineColor, 'text-sm font-black')}>
                {tagline}
              </small>
            )}
            <h3 class={twJoin(textColor, 'font-display my-2')}>{heading}</h3>
          </div>
          <div class="w-full lg:w-1/2 z-2 pt-0 lg:pt-8">
            <p class={twJoin(textColor, 'mb-4')}>{description}</p>
            {hasLink(link) && (
              <Link link={link} className={twJoin('button', buttonClass)} />
            )}
          </div>
        </div>
      </div>
    </section>
  )
}
