---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";

const { blok } = Astro.props;
const { banner_title, banner_subtitle, banner_image } = blok;
---

<section
  class="space home-banner-section h-screen overflow-hidden relative"
  {...storyblokEditable(blok)}
>
  <div class="mx-container h-full flex flex-col justify-end relative z-1">
    <div class="w-full md:max-w-2/3">
      <h1
        class="text-white font-[800] font-display mb-4"
      >
        {banner_title}
      </h1>
      <p class="text-white !text-lg lg:!text-xl">{banner_subtitle}</p>
    </div>
  </div>

  <div class="absolute inset-0 overflow-hidden z-0">
    <img
      src={banner_image.filename}
      alt={banner_image.alt}
      class="size-full object-cover"
    />
  </div>

  <div class="absolute inset-0 bg-black/50"></div>
</section>

{blok.body?.map((blok: SbBlokData) => <StoryblokComponent blok={blok} />)}
