---
import { getLinkAttributes } from "@/utils/helper";

const { link, className = "button primary" } = Astro.props;

const { href, title, target, rel } = getLinkAttributes(link);
---

<a href={href} target={target} rel={rel} class={className}>{title}</a>
